@charset "UTF-8";
/* ==================================Обнуляющий стиль===================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  /* Убираем маркировку */
  list-style: none;
}

/* Убирает подчеркивание у ссылки и подсвечивание ссылком, по которым был произведён переход */
a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Наследует для заголовков бразуерный шрифт для обынчых элементов */
  font-weight: inherit;
  font-size: inherit;
}

img {
  /* Убирает отступ у изображений */
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
}

/* ======================================================================= */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-LightItalic.eot");
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("../fonts/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-LightItalic.woff2") format("woff2"), url("../fonts/Lato-LightItalic.woff") format("woff"), url("../fonts/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.eot");
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-HeavyItalic.eot");
  src: local("Lato Heavy Italic"), local("Lato-HeavyItalic"), url("../fonts/Lato-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-HeavyItalic.woff2") format("woff2"), url("../fonts/Lato-HeavyItalic.woff") format("woff"), url("../fonts/Lato-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Lato Hairline";
  src: url("../fonts/Lato-Hairline.eot");
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../fonts/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Hairline.woff2") format("woff2"), url("../fonts/Lato-Hairline.woff") format("woff"), url("../fonts/Lato-Hairline.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.eot");
  src: local("Lato Semibold"), local("Lato-Semibold"), url("../fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Heavy.eot");
  src: local("Lato Heavy"), local("Lato-Heavy"), url("../fonts/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Heavy.woff2") format("woff2"), url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-MediumItalic.eot");
  src: local("Lato Medium Italic"), local("Lato-MediumItalic"), url("../fonts/Lato-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-MediumItalic.woff2") format("woff2"), url("../fonts/Lato-MediumItalic.woff") format("woff"), url("../fonts/Lato-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.eot");
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.eot");
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-BoldItalic.eot");
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("../fonts/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-BoldItalic.woff2") format("woff2"), url("../fonts/Lato-BoldItalic.woff") format("woff"), url("../fonts/Lato-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato Hairline";
  src: url("../fonts/Lato-HairlineItalic.eot");
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("../fonts/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-HairlineItalic.woff2") format("woff2"), url("../fonts/Lato-HairlineItalic.woff") format("woff"), url("../fonts/Lato-HairlineItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-SemiboldItalic.eot");
  src: local("Lato Semibold Italic"), local("Lato-SemiboldItalic"), url("../fonts/Lato-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-SemiboldItalic.woff2") format("woff2"), url("../fonts/Lato-SemiboldItalic.woff") format("woff"), url("../fonts/Lato-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-BlackItalic.eot");
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("../fonts/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-BlackItalic.woff2") format("woff2"), url("../fonts/Lato-BlackItalic.woff") format("woff"), url("../fonts/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Italic.eot");
  src: local("Lato Italic"), local("Lato-Italic"), url("../fonts/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Italic.woff2") format("woff2"), url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-ThinItalic.eot");
  src: local("Lato Thin Italic"), local("Lato-ThinItalic"), url("../fonts/Lato-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-ThinItalic.woff2") format("woff2"), url("../fonts/Lato-ThinItalic.woff") format("woff"), url("../fonts/Lato-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Thin.eot");
  src: local("Lato Thin"), local("Lato-Thin"), url("../fonts/Lato-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Thin.woff2") format("woff2"), url("../fonts/Lato-Thin.woff") format("woff"), url("../fonts/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Medium.eot");
  src: local("Lato Medium"), local("Lato-Medium"), url("../fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "Lato";
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

[class*=__container] {
  max-width: 1265px;
  margin: 0 auto;
  padding: 0 15px;
}

/* 
*Размеры экранов
Большие экраны - 1440px; 
Маленькие экраны - не меньше 1024px;
Планшеты - от 1024px до 768px;
Мобильные устройствао - ниже 768px
*/
.header {
  padding-top: 20px;
}
.header_margin-bottom:not(:last-child) {
  margin-bottom: 60px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    font-size: 1.2rem;
  }
}
.header__menu-logo {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
  align-items: center;
}
@media (max-width: 1069px) {
  .header__menu-logo {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (max-width: 1039px) {
  .header__menu-logo {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media (max-width: 954px) {
  .header__menu-logo {
    flex-direction: column;
    align-items: start;
    row-gap: 15px;
  }
}
@media (max-width: 768px) {
  .header__menu-logo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    row-gap: 0;
  }
  .header__menu-logo:not(:last-child) {
    margin-bottom: 30px;
  }
}
.header__logo {
  position: relative;
  width: 130px;
  height: 22px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .header__logo {
    align-self: start;
  }
  .header__logo:not(:last-child) {
    margin-bottom: 30px;
  }
}
.header__logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  text-align: center;
}
@media (max-width: 1018px) {
  .header__list {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 768px) {
  .header__list {
    flex-direction: column;
    row-gap: 10px;
  }
}
.header__item {
  color: #424551;
  line-height: 160%;
  font-weight: 700;
  transition: all 1s ease 0s;
}
.header__item:hover {
  transition: all 0.4s ease 0s;
  color: #ff3f3a;
}
.header__action {
  display: flex;
  align-items: center;
  -moz-column-gap: 36px;
       column-gap: 36px;
}
@media (max-width: 994px) {
  .header__action {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 954px) {
  .header__action {
    flex-direction: column;
    row-gap: 15px;
  }
}
.header__button-block {
  display: flex;
}
@media (max-width: 954px) {
  .header__button-block {
    order: 1;
  }
}
.header__button-link {
  padding: 16px 40px;
  color: #ffffff;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 4px;
  transition: all 0.3s ease 0s;
  min-width: 206px;
}
.header__button-link:hover {
  transition: all 0.3s ease 0s;
  box-shadow: 0px 0px 10px #ff3f3a;
}
.header__log-reg {
  display: flex;
  align-items: center;
  -moz-column-gap: 3px;
       column-gap: 3px;
  font-weight: 700;
  color: #424551;
}
.header__login-block {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.header__login-image {
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.header__login-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__login-image img:hover {
  filter: invert(44%) sepia(30%) saturate(7493%) hue-rotate(339deg) brightness(100%) contrast(101%);
}
.header__login-link {
  transition: all 0.3s ease 0s;
}
.header__login-link:hover {
  color: #ff3f3a;
}
.header__register-link {
  transition: all 0.3s ease 0s;
}
.header__register-link:hover {
  color: #ff3f3a;
}

.about-us {
  padding: 0 0 180px 0;
}
@media (max-width: 1200px) {
  .about-us {
    padding: 0 0 100px 0;
  }
}
@media (max-width: 917.98px) {
  .about-us {
    padding: 0 0 50px 0;
  }
}
@media (max-width: 768.98px) {
  .about-us {
    padding: 0 0 30px 0;
  }
}
.about-us__container {
  display: grid;
  grid-template-columns: minmax(320px, 600px) minmax(320px, 485px);
  grid-auto-rows: 1fr;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 918px) {
  .about-us__container {
    grid-template-columns: 1fr;
  }
}
.about-us__title:not(:last-child) {
  margin-bottom: 48px;
}
@media (max-width: 1036px) {
  .about-us__title:not(:last-child) {
    margin-bottom: 28px;
  }
}
.about-us__info:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 1001px) {
  .about-us__info:not(:last-child) {
    margin-bottom: 35px;
  }
}
.about-us__image {
  position: relative;
}
@media (max-width: 918px) {
  .about-us__image {
    display: none;
  }
}
.about-us__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center bottom;
     object-position: center bottom;
}

.title-us-about {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
@media (max-width: 1036px) {
  .title-us-about {
    row-gap: 5px;
  }
}
.title-us-about__name {
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
}
@media (max-width: 1036px) {
  .title-us-about__name {
    font-size: 1.1rem;
  }
}
.title-us-about__sub-name {
  font-weight: 900;
  font-size: 46px;
  font-size: 2.875rem;
  line-height: 130%;
  color: #1e212c;
}
@media (max-width: 1036px) {
  .title-us-about__sub-name {
    font-size: 2.3rem;
  }
}
@media (max-width: 450px) {
  .title-us-about__sub-name {
    font-size: 2rem;
  }
}

.info-us-about {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.info-us-about__text-bold p {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 150%;
  color: #1e212c;
}
.info-us-about__text-normal p {
  font-size: 1rem;
  line-height: 160%;
  color: #424551;
}
@media (max-width: 1036px) {
  .info-us-about__text-normal p {
    font-size: 1.25rem;
  }
}

.buttons-us-about {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-auto-rows: 1fr;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 15px;
}
@media (max-width: 917.98px) {
  .buttons-us-about {
    grid-template-columns: minmax(auto, 500px);
    justify-content: center;
  }
}
.buttons-us-about__button-link {
  padding: 16px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 52px;
  color: #ffffff;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%) #ff3f3a;
  transition: background 0.3s ease 0s;
  border-radius: 4px;
}
.buttons-us-about__button-link:hover {
  transition: background 0.3s ease 0s;
  border: 2px solid #ff3f3a;
  background: transparent;
  color: #ff3f3a;
}
.buttons-us-about__button-link_transparent {
  border: 2px solid #ff3f3a;
  background: transparent;
  color: #ff3f3a;
}
.buttons-us-about__button-link_transparent:hover {
  transition: all 0.3s ease 0s;
  background: #ff3f3a;
  color: #fff;
}
.buttons-us-about__button-link_transparent:hover + .buttons-us-about__button-link {
  background: transparent;
  transition: bacground 3s ease 0s;
  border: 2px solid #ff3f3a;
  color: #ff3f3a;
}

.video-block {
  padding: 0 0 180px 0;
}
@media (max-width: 1200px) {
  .video-block {
    padding: 0 0 100px 0;
  }
}
@media (max-width: 917.98px) {
  .video-block {
    padding: 0 0 50px 0;
  }
}
@media (max-width: 768.98px) {
  .video-block {
    padding: 0 0 30px 0;
  }
}
.video-block__play {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.video-block__play:not(:last-child) {
  margin-bottom: 32px;
}
.video-block__active {
  width: 52px;
  height: 52px;
  background-color: #ff3f3a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-block__text-play {
  font-weight: 700;
  font-size: 0.875;
  line-height: 150%;
  margin: 0 0 0 16px;
}
.video-block__text-play:hover {
  transition: all 0.2s ease 0s;
  color: #ff3f3a;
}
.video-block__body {
  display: flex;
}
@media (max-width: 917.98px) {
  .video-block__body {
    flex-direction: column;
  }
}
.video-block__video {
  flex: 0 0 65.6%;
  position: relative;
  padding: 0 0 40.5% 0;
}
.video-block__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 917.98px) {
  .video-block__video {
    flex: 0 0 100%;
  }
  .video-block__video:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 425.98px) {
  .video-block__video {
    padding: 0 0 60% 0;
  }
}
.video-block__content {
  flex: 1 1 auto;
  padding: 0 0 0 135px;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
}
@media (max-width: 1265px) {
  .video-block__content {
    padding: 0 0 0 65px;
  }
}
@media (max-width: 917.98px) {
  .video-block__content {
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
    gap: 10px 10px;
  }
}
.video-block__item {
  display: flex;
  align-items: center;
}
@media (max-width: 917.98px) {
  .video-block__item {
    flex: 1 1 49%;
    justify-content: center;
  }
}
.video-block__num {
  font-weight: 900;
  font-size: 3rem;
  line-height: 130%;
  letter-spacing: 1px;
  color: #ff3f3a;
  margin-right: 16px;
}
@media (max-width: 645.98px) {
  .video-block__num {
    font-size: 2rem;
    margin-right: 10px;
  }
}
.video-block__text {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 150%;
  color: #1e212c;
}